@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  <div class="row justify-content-center">
    <h1>Moment 3</h1>
    <p>Uppgiften går ut på att skapa en databasdriven webbapplikation för att hantera en boksamling med hjälp av ASP.NET Core MVC och Entity Framework Core. Applikationen ska stödja CRUD-operationer (Create, Read, Update, Delete) för böcker och författare samt innehålla en relationsbaserad databas där en bok är kopplad till en författare.</p>
    <p>I den utökade delen av uppgiften ska systemet även hantera boklån, där användare kan låna och återlämna böcker. Applikationen ska registrera lånedatum, låntagare, och automatiskt markera böcker som otillgängliga vid utlåning och tillgängliga vid återlämning. Dessutom ska en sökfunktion implementeras för att filtrera böcker baserat på titel eller författare.</p>
    <p>Målet är att förstå och använda MVC-struktur, databashantering med EF Core och relationer mellan tabeller, samt att bygga en användarvänlig webbapplikation.</p>
    </div>
</div>
